.container-div{
  align-items: center;
  width: 100%;
  text-align: center;
  justify-content: center;
  background-color: rgb(250, 250, 250);
}

.setButtons button{

  padding: 5px;
  border-radius: 10px;
  border: none;
  outline: none;
}



.taskTitle ul{
  width: auto;
  background-color: rgb(189, 222, 255); 
  border-style: ridge;
  padding: 2px;
}

.task-container{
  list-style-type:none;
  display: block;
  display: block;
  position: relative;
}
.task-container input {
  float: left;
  justify-content: center;
  width: 20px;
  height: 20px;
}
