.App {
  text-align: center;
}

.nav{
  list-style-type: none;
  margin: 0%;
  padding: 0%;
  overflow: hidden;
 
  
}
.nav li{
  display: inline;
  float: right;
  padding: 5px;
}
.navbar li :hover{
  background-color: gray;
 
}
